<div th:fragment="footer" class="container">
  <footer class="my-4" style="background-color: white; padding-top: 80px">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item" ><a href="#" style="color: orange" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" style="color: orange" class="nav-link px-2 text-body-secondary">All Articles</a></li>
      <li class="nav-item"><a href="#" style="color: orange" class="nav-link px-2 text-body-secondary">Categories</a></li>
      <li class="nav-item"><a href="#" style="color: orange" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" style="color: orange" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
  </footer>
</div>